@model IEnumerable<FashTradPlat.Models.Payment>

@{
    ViewData["Title"] = "Payments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Payments</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Payment_amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment_method)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Payment_amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment_method)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Payment_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Payment_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Payment_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
