@model IEnumerable<FashTradPlat.Models.Transaction>

@{
    ViewData["Title"] = "Transactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Transactions</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Checkout)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SendAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstCompletion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment.Payment_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Checkout.Checkout_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SendAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstCompletion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Transaction_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Transaction_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Transaction_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
